<% name = ["Joe"] %>
<!DOCTYPE html>
<html>
    <head>
        <title>goodbye!</title>
        <% name = ["Joe"] %>
    </head>
    <body>
        <h1><%="Goodbye"+ " Joe"%></h1>


    </body>
</html>
